$fs_12: 12px;
$fs_16: 16px;
$lh_16: 16px;
$lh_22: 22px;
$lh_26: 26px;
$fontFamily: "Inter", sans-serif;
$fw_100: 100; 
$fw_200: 200; 
$fw_300: 300; 
$fw_400: 400; 
$fw_500: 500; 
$fw_600: 600; 
$fw_700: 700; 
$fw_800: 800; 
$fw_900: 900; 